<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Song</title>
</head>

<body>
    <h1>Edit Song</h1>
    <h1>ID: <%= id %></h1>
    <form action="/canciones/<%= id %>?_method=PUT" method="post">
        <input type="text" name="tituloSong" placeholder="titulo"><br>
        <input type="number" name="duracionSong" placeholder="duracion de la cancion"><br>
        <input type="number" name="generoSong" placeholder="id genero"><br>
        <input type="number" name="albumSong" placeholder="id album"><br>
        <input type="number" name="artistaSong" placeholder="id artista"><br>
        <input type="submit" value="Editar una cancion">
    </form>

</body>

</html>