<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home!</title>
</head>

<body>
    <a href="/canciones">Canciones</a><br>
    <a href="/generos">Generos</a><br>

    <p>Para crear una cancion tanto el artista como el album deben de tener un id vaildo</p>

    <form action="/artistas" method="POST">
        <input type="text" name="idArtista" placeholder="id del artista">
        <input type="text" name="nombreArtista" placeholder="nombre">
        <input type="text" name="apellidoArtista" placeholder="apellido">
        <input type="submit" value="crear artista">
    </form>

    <form action="/albumes" method="POST">
        <input type="text" name="idAlbum" placeholder="id del album">
        <input type="text" name="nombreAlbum" placeholder="nombre">
        <input type="text" name="durationAlbum" placeholder="duracion">
        <input type="submit" value="crear album">
    </form>

    <form action="/genero" method="POST">
        <input type="text" name="idGenero" placeholder="id del genero">
        <input type="text" name="nombreGenero" placeholder="nombre">
        <input type="submit" value="crear genero">
    </form>

    <p>Crea una cancion</p>
    <form action="/canciones" method="post">
        <input type="text" name="idSong" placeholder="id de la cancion"><br>
        <input type="text" name="tituloSong" placeholder="titulo"><br>
        <input type="text" name="duracionSong" placeholder="duracion de la cancion"><br>
        <!--created and updated both are the current time and are the same-->
        <input type="text" name="generoSong" placeholder="id genero"><br>
        <input type="text" name="albumSong" placeholder="id album"><br>
        <input type="text" name="artistaSong" placeholder="id artista"><br>
        <input type="submit" value="Crear cancion">
    </form>

    <p>Busca una cancion por id</p>
    <form action="/canciones" method="get">
        <input type="text" name="search">
        <input type="submit" value="Buscar">
    </form>

    <p>Edita una cancion por id</p>
    <form id="editForm" method="put">
        <input type="text" id="idSong" placeholder="id de la cancion"><br>
        <input type="text" id="tituloSong" placeholder="titulo"><br>
        <input type="text" id="duracionSong" placeholder="duracion de la cancion"><br>
        <input type="text" id="generoSong" placeholder="id genero"><br>
        <input type="text" id="albumSong" placeholder="id album"><br>
        <input type="text" id="artistaSong" placeholder="id artista"><br>
        <input type="submit" value="Editar una cancion">
    </form>

    <p>Elimina una cancion por id</p>
    <form id="deleteForm" method="post">
        <input type="text" id="valueID" name="delete">
        <input type="submit" value="Borrar">
    </form>

    <script>

        const editForm = document.getElementById('editForm');
        editForm.addEventListener('submit', (e) => {
            e.preventDefault();
            const id = document.getElementById('idSong').value;
            const tituloSong = document.getElementById('tituloSong').value;
            const duracionSong = document.getElementById('duracionSong').value;
            const generoSong = document.getElementById('generoSong').value;
            const albumSong = document.getElementById('albumSong').value;
            const artistaSong = document.getElementById('artistaSong').value;

            const url = '/canciones/' + id;

            fetch(url, {
                method: 'PUT',
                body: JSON.stringify({
                    tituloSong: tituloSong,
                    duracionSong: duracionSong,
                    generoSong: generoSong,
                    albumSong: albumSong,
                    artistaSong: artistaSong
                }),
                headers: {
                    'Content-Type': 'application/json'
                }
            }).then(res => res.json())
                .then(data => console.log(data))
                .catch(err => console.log(err));

        });

        const deleteForm = document.getElementById('deleteForm');
        deleteForm.addEventListener('submit', function (e) {
            e.preventDefault();
            const id = document.getElementById('valueID').value;
            const url = '/canciones/' + id;

            console.log(url, id);

            fetch(url, {
                method: 'DELETE'
            })
                .then(res => res.json())
                .then(res => console.log(res))
                .catch(err => console.log(err));

        });
    </script>
</body>

</html>