<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home!</title>
</head>

<body>
    <a href="/cancionesList">Canciones</a><br>
    <a href="/generos">Generos</a><br>

    <b>
        <p>Para crear una cancion, tanto el id del artista, album como genero deben ser validos</p>
    </b>

    <form action="/artistas" method="POST">
        <input type="number" name="idArtista" placeholder="id del artista">
        <input type="text" name="nombreArtista" placeholder="nombre">
        <input type="text" name="apellidoArtista" placeholder="apellido">
        <input type="submit" value="crear artista">
    </form>

    <form action="/albumes" method="POST">
        <input type="number" name="idAlbum" placeholder="id del album">
        <input type="text" name="nombreAlbum" placeholder="nombre">
        <input type="number" name="durationAlbum" placeholder="duracion">
        <input type="submit" value="crear album">
    </form>

    <form action="/genero" method="POST">
        <input type="number" name="idGenero" placeholder="id del genero">
        <input type="text" name="nombreGenero" placeholder="nombre">
        <input type="submit" value="crear genero">
    </form>

    <p>Crea una cancion</p>
    <form action="/canciones" method="post">
        <input type="number" name="idSong" placeholder="id de la cancion"><br>
        <input type="text" name="tituloSong" placeholder="titulo"><br>
        <input type="number" name="duracionSong" placeholder="duracion de la cancion"><br>
        <!--created and updated both are the current time and are the same-->
        <input type="number" name="generoSong" placeholder="id genero"><br>
        <input type="number" name="albumSong" placeholder="id album"><br>
        <input type="number" name="artistaSong" placeholder="id artista"><br>
        <input type="submit" value="Crear cancion">
    </form>

    <p>Busca una cancion por id</p>
    <form action="/canciones" method="get">
        <input type="number" name="search">
        <input type="submit" value="Buscar">
    </form>

    <p>Edita una cancion por id</p>
    <form id="editForm">
        <input type="number" id="idSong" placeholder="id de la cancion"><br>
        <input type="submit" value="Editar una cancion">
    </form>

    <p>Elimina una cancion por id</p>
    <form method="post" id="deleteForm">
        <input type="number" id="valueID" name="delete">
        <input type="submit" value="Borrar">
    </form>
    <script>
        
        const editForm = document.getElementById('editForm');
        editForm.onsubmit = function (e) {
            const id = document.getElementById('idSong').value;
            if (!id) {
                alert('No se puede editar una cancion sin id');
                e.preventDefault();
                return;
            }
            this.setAttribute('action', '/editSong/' + id + '?_method=GET');
        }
        
        //DELETE FORM
        const deleteForm = document.getElementById('deleteForm');
        deleteForm.onsubmit = function (e) {
            const id = document.getElementById('valueID').value;
            if (!id) {
                alert('No se puede borrar una cancion sin id');
                e.preventDefault();
                return;
            }
            this.setAttribute('action', '/canciones/' + id + '?_method=DELETE');
            
        }

    </script>
</body>

</html>